@use 'vars';

$white: #ffebe1;
$nude: #f5d5b2;
$light-peach: #FFB39B;
$peach: #FF9A7A;
$terracota: #d95932;

.container {
    background-color: $white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Lato";
    font-weight: 300;
    color: $white;

    .content-header {
        text-align: center;
        margin: 3em auto;

        .name {
            color: $terracota;
            font-size: 5em;
            font-family: "Indie Flower";
        }

        .description {
            color: $light-peach;
            font-family: "Press Start 2P";
        }
    }

    main {
        background-color: $white;
    }

    section {
        padding: 2em 0 2em 0;
    }

    .home-cv {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;

        .home-photo {
            width: 30%;
            border-radius: 5px;
            margin-bottom: 1em;
        }

        .home-upload {
            display: flex;
            align-items: center;
            color: #211b19;
            background-color: $terracota;
            border-radius: 20px;
            padding: 0.5em;
            text-decoration: none;
            box-shadow: 0px 0px 0px 2px $terracota;
            transition: box-shadow 0.1s linear;
            margin: 0.5em;
            text-align: center;
        }

        .home-upload:hover {
            box-shadow: 0px 0px 0px 10px $nude;
        }
    }

    .container-one {
        background-color: #211b19;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .title-section {
        font-size: 3em;
        font-family: "Indie Flower";
        color: $terracota;
        padding-bottom: 0.8em;
    }

    .container-description {
        font-size: 1.2em;
        padding: 0 4em;

        .home-tp {
            width: 50%;
            margin-top: 2em;
        }
    }

    .container-two {
        background-color: #724d40;
        text-align: center;
        display: flex;
        flex-direction: column;

        .content {
            display: flex;
            flex-direction: column;
        }

    }

    .container-one-list {
        background-color: #211b19;
        text-align: center;
        display: flex;
        flex-direction: column;

        .container-list {
            padding: 0;

            .container-items {
                margin: 1em 0 1em;
                padding-bottom: 2em;
                border-top: solid 1px $terracota;

                .title-list {
                    color: $nude;
                    font-family: "Press Start 2P";
                    margin: 1em auto;
                }
            }
        }
    }

    a {
        color: $nude;
        text-decoration: none;
    }

    a:hover {
        color: $terracota;
    }

    .footer {
        background-color: $white;
        color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 5em;
        width: 100%;

        .copyright {
            margin: 0;
        }

        .footer-link {
            color: #211b19;
        }
    }
}

@media screen and (max-width: 425px) {
    .container {


        .content-header {
            .name {
                font-size: 4em;
                padding: 0 1em;
            }

            .description {
                font-size: 0.6em;
                padding: 1em;
            }
        }

        .container-description {
            font-size: 1.2em;
            padding: 0 1em;
    
            .home-tp {
                width: 60%;
                margin-top: 2em;
            }
        }
    }
}