@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Press+Start+2P&display=swap");
.container {
  background-color: #ffebe1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Lato";
  font-weight: 300;
  color: #ffebe1;
}
.container .content-header {
  text-align: center;
  margin: 3em auto;
}
.container .content-header .name {
  color: #d95932;
  font-size: 5em;
  font-family: "Indie Flower";
}
.container .content-header .description {
  color: #FFB39B;
  font-family: "Press Start 2P";
}
.container main {
  background-color: #ffebe1;
}
.container section {
  padding: 2em 0 2em 0;
}
.container .home-cv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}
.container .home-cv .home-photo {
  width: 30%;
  border-radius: 5px;
  margin-bottom: 1em;
}
.container .home-cv .home-upload {
  display: flex;
  align-items: center;
  color: #211b19;
  background-color: #d95932;
  border-radius: 20px;
  padding: 0.5em;
  text-decoration: none;
  box-shadow: 0px 0px 0px 2px #d95932;
  transition: box-shadow 0.1s linear;
  margin: 0.5em;
  text-align: center;
}
.container .home-cv .home-upload:hover {
  box-shadow: 0px 0px 0px 10px #f5d5b2;
}
.container .container-one {
  background-color: #211b19;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container .title-section {
  font-size: 3em;
  font-family: "Indie Flower";
  color: #d95932;
  padding-bottom: 0.8em;
}
.container .container-description {
  font-size: 1.2em;
  padding: 0 4em;
}
.container .container-description .home-tp {
  width: 50%;
  margin-top: 2em;
}
.container .container-two {
  background-color: #724d40;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container .container-two .content {
  display: flex;
  flex-direction: column;
}
.container .container-one-list {
  background-color: #211b19;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container .container-one-list .container-list {
  padding: 0;
}
.container .container-one-list .container-list .container-items {
  margin: 1em 0 1em;
  padding-bottom: 2em;
  border-top: solid 1px #d95932;
  list-style: none;
}
.container .container-one-list .container-list .container-items .title-list {
  color: #f5d5b2;
  font-family: "Press Start 2P";
  margin: 1em auto;
}
.container a {
  color: #f5d5b2;
  text-decoration: none;
}
.container a:hover {
  color: #d95932;
}
.container .footer {
  background-color: #ffebe1;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5em;
  width: 100%;
}
.container .footer .copyright {
  margin: 0;
}
.container .footer .footer-link {
  color: #211b19;
}

@media screen and (max-width: 425px) {
  .container .content-header .name {
    font-size: 4em;
    padding: 0 1em;
  }
  .container .content-header .description {
    font-size: 0.6em;
    padding: 1em;
  }
  .container .container-description {
    font-size: 1.2em;
    padding: 0 1em;
  }
  .container .container-description .home-tp {
    width: 60%;
    margin-top: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
