$white: #FFE8E1;
$nude: #FFCEBE;
$light-peach: #FFB39B;
$peach: #FF9A7A;
$terracota: #DA6F4D;

.content{
    background-color: $white;
    
    .content-header{

        .header-name{
        }
        .header-info{

        }
    }
}
